<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @actor.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @actor.last %>
</p>

<%= link_to 'Back', actors_path, class: 'btn btn-default' %>
